.cart-container {
  width: 35vw;

  .menu-button {
  }
  
  .cart-icon {
    width: 3rem;
  }
  .menuNav {
    width: 0;
    height: auto;
    position: fixed;
    top: 3rem;
    // right: 0;
    text-align: justify;
    overflow: hidden;
    z-index: 9;
    cursor: pointer;
  }

  .showMenu {
    width: 100%;
    height: 100vh;
    background-color: white;
    border: 1px solid black;
    margin-top: 1rem;

    .items-cart {
      // background-color: yellow;
      // display: grid;
      // grid-template-columns: .5fr 1fr;

      .item-cart {
        margin: 1rem 0;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .item-cart-img {
          width: 8rem;
        }
        .item-cart-details {
          margin-left: 1rem;
          display: grid;

          .item-cart-details-title {
            font-size: 20px;
            font-weight: bold;

          }
          .item-cart-details-option {

          }
          .item-cart-details-price {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .navbar-items {
    backdrop-filter: blur(200px);
    // background-color: yellow;
    margin-top: .1rem;
    border: .1px solid rgb(201, 199, 199);
    padding: 1rem 0;
  }
}
